.img-view {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.img-view::before {
  background-image: url('https://via.placeholder.com/500?text=500+x+500+is+suggested');
  background-size: auto;
}

.top-text {
  top: 15px;
}

.bottom-text {
  bottom: 15px;
}

.top-text, .bottom-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: 'Impact', sans-serif;
  font-size: 34px;
  z-index: 10;
  -webkit-text-stroke: 1.5px black;
  padding: 0 15px;
}

.preview-image {
  position: relative;
  max-width: 500px;
  z-index: 1;
}

.meme-container {
  margin-top: 1rem;
}

[class^="meme-num"] {
  position: relative;
  margin: auto;
  float: right;
  background-image: url('https://via.placeholder.com/500/000000/FFFFFF/?text=Delete?');
  
}

.meme-container img:hover {
  opacity: 0.75;
}
