$function-blue: #569cb3;
$log-orange: #ce723b;

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

.jumbotron {
  background-color: #1E1E1E;
  font-size: 2vw;
  height: 100vh;
  color: #fff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  .jumbo-p {
    align-self: center;
    width: 80%;
  }
  .indent {
    text-indent: 1em;
  }
  .function {
    color: $function-blue;
  }
  .log {
    color: $log-orange;
  }
}
.section-header {
  color: $function-blue;
  text-align: center;
}
.about {
  height: 50vh;
  padding-top: 50px;
}
.contact{
  height: 50vh;
}

@import 'fonts';