body, html {
  padding: 0;
  margin: 0;
}

.jumbotron {
  background-color: #1E1E1E;
  font-size: 2vw;
  height: 100vh;
  color: #fff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  .jumbo-p {
    align-self: center;
    width: 80%;
  }
  .indent {
    text-indent: 1em;
  }
  .function {
    color: #569cb3;
  }
  .log {
    color: #ce723b;
  }
}
.about {
  height: 50vh;
}
.contact{
  height: 50vh;
}